body {
    background-color: lightgray;
}


.wel {
    font-family: 'Cookie', cursive;
    text-align: center;
    margin: 10%;
    font-size: 55px;
       
}


#btn {
    background: plum;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    margin: 50px auto;
}
  
#btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

#btn:hover {
    background: transparent;
}
  
#btn:hover #circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.user {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10%;
    font-size: 25px;
       
}
.opt{
    font-family: cursive;
    text-align: center;
    margin: 10%;
    font-size: 35px;
    font-weight: bold;
       
}
#signup {
    background-color: lightgray;
}

.signupin {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 5%;
    font-size: 20px;
}
.block {
    display: inline-block;
}
.plus {
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}
.plus2 {
    background-color: plum;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.food {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
}

.name {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.map {
    height: 300px;
    width: 300px;
}

#place {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

#place2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#sum {
    background-color: white;
}